{% extends 'cal/index.html' %}

{% block pagetitle %} Calendar {% endblock %}

{% block optionbar %} 

    <a class="nav-item nav-link" href="{{request.META.HTTP_REFERER}}">Back</a>
    <a class="nav-item nav-link" href="{% url 'logout_user' client_name=client_name location_name=location_name %}">Logout</a>
    
    {% for k, v in actions.items %}
        <a href="{{ v }}" class="nav-item nav-link">{{ k }}</a>
    {% endfor %}
    
{% endblock %}

{% block content %}
    {% for k, v in info.items %}
        <p>{{ k }}{{ v }}</p>
    {% endfor %}
{% endblock %}

    

